################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PlanetFinder/.vs/PlanetFinder
/PlanetFinder/obj
/PlanetFinder/bin/Debug/net8.0
